* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  display: grid;
  min-height: 100svh;
  place-items: center;
}
body .container {
  position: relative;
}
body .container i {
  animation: animation var(--duration) var(--delay) infinite linear;
  border-radius: 100px 100px 0 100px;
  box-shadow: 25px 25px 25px var(--color) inset, 5px 5px 50px var(--color);
  height: 200px;
  left: -30px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: -30px;
  transform-origin: 30px 30px;
  width: 200px;
}
@keyframes animation {
  to {
    transform: rotate(1turn);
  }
}
.container i:nth-child(odd) {
  animation-direction: reverse;
}
